@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #0b141a;
  --secondary-color: #518ae6;
  --nav-background-color:rgb(35, 31, 31);
  --font-family: 'Roboto', sans-serif;
  --padding: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html {
  font-size: 62%;
  height: 100%;
}

body {
  height: 100%;
  /*background-color:var(--primary-color);*/
  background-color: white;
  
}

#root {
  height:100%
}

